body{
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
}
footer{
   text-align: center;
}

.content{
    display: flex;
}

.button-primary{ 
    color: #FFFF;
    text-transform: uppercase;
    width: 10em;
    padding: 1em 0;
 
    background-color: #72C3DC;
    border: none;
    border-radius: .5em;

    border-bottom: .3em solid #2B8EAD;
}

.button-primary:hover{
    cursor: pointer;
    background-color: #2B8EAD;
}

.card{
    color: #FFFF;
    background-color: #EFEFEF;

}


@media only screen and (max-width: 375px) {
    body{
        background-color: #FFFF;
    }

    header{
        padding: 1em 0;
        background-color: #333333;
        color: #FFFF;
    }

    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-wrap{
        margin: 1em 0;
    }
    
    .cards-pannel{
        width: 90%;        

    }

    .card{
        position: relative;
        width: 100%;
        display: flex;
        color: #000000;
        height: 3em;
        justify-content: center;
        align-items: center;
        margin-top: .5em;
        background: #EFEFEF;
    }

    .card:first-child{
        margin-top:0;
    }

    .card-color{
        position: absolute;
        left: 0;
        height: 100%;
        width: 1em;
    }
}

@media only screen and (min-width: 375px) and (max-width: 960px) {
  
}

@media only screen and (min-width: 960px) {
    header{
        background-color: #FFFF;
        padding: 1em 0;
    }
    .content{
        border-top: .5em solid #BFBFBF;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .cards-pannel{
       width: 70%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
   }

   .card{
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 33%;
       height: 13em;
   }
   .card>h1{
       position: relative;
       z-index: 1;
       font-size: 5em;
   }
   .card-color{
       position: absolute;
       width: 100%;
       height: 100%;
       z-index: 0;
   }

   .button-wrap{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width:30%;
       padding-top: 1em; 
   }

   .button-primary{
       margin:1em;
       width: 17em;
   }
}